name: chat_messages
description: "A new Flutter project."
publish_to: "none"
version: 1.0.0+1
environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  mqtt_client: ^10.11.6
  flutter_background_service: ^5.1.0
  flutter_local_notifications: ^19.5.0
  permission_handler: ^12.0.1
  sqflite: ^2.3.0
  path: ^1.9.0
  http: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
